* {
    margin: 0px;
    padding: 0px;
}

.nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(172, 166, 166, 0.5);
    padding: 25px;

}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    font-size: 25px;
}
ul li:hover{
    background: white;
    color: black;
    /* margin: 10px 30px; */
    border-radius: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: cyan;
}

.logo-title {
    font-weight: 600;
    font-size: 20px;
}

/* Main section style */
.banner-section {
    background-image: url("../asset/image/background.jpg"), linear-gradient();
    background-image: url(../asset/image/background.jpg), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center 0;
    display: flex;
    align-items: center;
}

.digital-banner {
    display: block;
    text-align: center;
    
}

.banner-title {
    font-size: 100px;
    font-weight: 900px;
    color: white;
}

span {
    color: red;
}

.banner-docoment {
    font-size: 22px;
    color: white;
    width: 50%;
    padding: 10px;
    margin: auto;
}

.btn-primary {
    background-color: red;
    font-size: 16px;
    padding: 15px 35px;
    color: white;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 5px;
}
.btn-primary:hover {
    background: white;
    color: black;
}
.btn-primary-o{
    background-color: #fff;
    font-size: 16px;
    padding: 15px 35px;
    color: black;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 5px;
}
.btn-primary-o:hover{
    background-color: black;
    color: white;
}
/* new div */
.btn-section {
    background-color: white;
    color: gray;
    border-radius: 25px;
    padding: 15px 40px;
    margin-bottom: 20px;
}

.service-title {
    font-size: 40px
}
.section-heading{
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0px;
    
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.service-section{
    width: 50%;
}
.service-container{
    background-image: url("../asset/image/background.jpg"), linear-gradient();
    background-image: url(../asset/image/footer-bg.png), linear-gradient(rgb(5, 5, 5), rgb(129, 121, 121));
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
    height: 635px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0,0,100px,0;
    width: 1349px;
}
.author-section{
    display: flex;
    justify-content: space-around;
}
.service-img {
    border-radius: 50%;
}
.author-btn{
    border-left: 1px solid red;
}
.author-details {
    display: flex;
}

.more-detail-btn {
    background-color: white;
    color: gray;
    border-radius: 25px;
    padding: 15px 40px;
}
.box{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    color: black;
    text-align: center;
    
}
.icon{
    width: 70px;
}
/* .service-section > h1{
    color: green;
}
.service-section > p{
    color: green;
} */
.service-document{
    width: 70%;
    font-size: 20px;
    padding: 10px;
}
.first-two-card{
    display: flex;
   /* justify-content: space-around; */
   gap: 3px;
   margin-top: 5px;
}
.author-img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    gap: 20px;
}
.author-container{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
   
}
.author-button{
    text-align: center;
}
.author-profile{
    display: flex;
    align-items: center;
    border-right:2px solid red ;
    padding-top: 10px;
}
.btn{
    color: red;
}
.img-container{
    display: flex;
    align-items: center;
}
.appointment-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    margin-top: -30px;
    height: 150px;
    color: white;
}
.appointment-title{
    font-size: 32px;
    font-weight: 700;
    display: inline-flexbox;
    padding: 20px;
}
.appointment-doc{
    width: 50%;
    padding-right: 10px;
}
.blog-container{
    width: 90%;
    margin: auto;
    /* background-color: gray; */
    margin-top: -30px;
    padding: 20px;
}
.title{
    text-align: center;
    color: black;
    margin: 50px;
}
.discription-blog{
    font-size: 22px;
    width: 674px;
    margin: auto;
    text-align: center;
    /* display: block; */
    padding-bottom: 30px;
    /* padding-top: 10px; */
}
.card{
    width: 350px;
    height: 430px;
    /* background-color: black; */
    /* color: wheat; */
    box-shadow: 4px 8px 4px gray;
    border-radius: 10px;
}
.blog-img{
    width: 100%;
    border-radius: 5px;
}
.card-title{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card p{
    text-align: center;
    padding-bottom: 10px;
}
.footer-containerff{
    height: 444.5px;
    width: 1349px;
    background-image: url("../asset/image/footer-bg.png"), linear-gradient(rgb(49, 49, 49), rgb(0, 0, 0));
    color: white;
    background-blend-mode: overlay;
    display: flex;
   margin: 0,169px,0,169px;
   justify-content: space-around;
   align-items: center;
   border-bottom: 1px solid gray;
}
.logo-box{
    width: 234px;
}
.icons{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
}
.footer-title{
    padding-bottom: 15px;
}
.footer-des{
    padding-top: 5px;
}
/* .footer-container{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */